.first-container > .box:nth-child(odd) {
    background-color:#ffce9e;
}

.first-container > .box:nth-child(even) {
    background-color: #d18a46;
}

.second-container > .box:nth-child(even){
    background-color:#ffce9e;
}  

.second-container > .box:nth-child(odd){
    background-color: #d18a46;
} 

.box {
    height: 100px;
    width: 100px;
}

.first-container {
    display: flex;
    flex-direction: row;
}

.second-container {
    display: flex;
    flex-direction: row;
}


